<!DOCTYPE html>
<html data-theme="business">
  <head>
    <title>Mounter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
